%section.top_activities
  .row
    %h2 #{image_tag "paradas-populares-icon.svg"} As Paradas Top
  .row
    - Event.by_popularity.limit(3).each do |event|
      .activity
        = image_tag event.activity.image
        .activity_info
          .activity_user_and_name
            = image_tag event.activity.guide.avatar
            %span.activity_name= event.activity.name
          .activity_address_and_price
            .activity_address.icon-location= truncate event.activity.address, :length => 25
            .activity_price= number_to_currency event.activity.price

%section.top_lists
  .row
    .most_recent_events
      %h3 #{image_tag "novas-paradas-icon.svg"} Novas Paradas
      %ol.events
        - Event.by_most_recent.limit(5).each_with_index do |event, i|
          %li.event #{content_tag :span, i + 1}#{truncate(event.activity.name, :length => 25)}
